# SPDX-License-Identifier: MIT
[Unit]
Requires=erpnext-db.service erpnext-redis-queue.service erpnext-redis-cache.service

[Container]
Pod=erpnext.pod
Image=erpnext.image
ContainerName=erpnext-configurator
Exec=bash -c 'ls -1 apps > sites/apps.txt; \
  [ -s sites/common_site_config.json ] || (echo {} > sites/common_site_config.json); \
  bench set-config -g host_name $$FRAPPE_HOST_NAME; \
  bench set-config -g db_host $$DB_HOST; \
  bench set-config -gp db_port $$DB_PORT; \
  bench set-config -g restart_supervisor_on_update true; \
  bench set-config -g restart_systemd_on_update true; \
  bench set-config -g root_password $$MYSQL_ROOT_PASSWORD; \
  bench set-config -g redis_cache "redis://$$REDIS_CACHE"; \
  bench set-config -g redis_queue "redis://$$REDIS_QUEUE"; \
  bench set-config -g redis_socketio "redis://$$REDIS_QUEUE"; \
  bench set-config -gp socketio_port $$SOCKETIO_PORT;'
  #bench set-config -g db_password $$DB_PASSWORD; \
  # restart flags added per:
  # https://discuss.frappe.io/t/frappe-docker-2023-production-setup-password-reset-email-link-added-with-port-8000/101844/6
Volume=/docker/erpnext/sites:/home/frappe/frappe-bench/sites:z
Volume=/docker/erpnext/logs:/home/frappe/frappe-bench/logs:z
Network=erpnext.network:alias=configurator
Environment=FRAPPE_HOST_NAME={{ erpnext_base_url }}
Environment=DB_HOST=db
Environment=DB_PORT="3306"
Environment=REDIS_CACHE=redis-cache:6379
Environment=REDIS_QUEUE=redis-queue:6379
Environment=SOCKETIO_PORT="9000"
#Secret=erpnext_mysql_user_pw,type=env,target=DB_PASSWORD
Secret=erpnext_mysql_root_pw,type=env,target=MYSQL_ROOT_PASSWORD
GlobalArgs=--log-level=warn

[Service]
Restart=no
