# SPDX-License-Identifier: MIT
[Container]
Pod=erpnext.pod
Image=docker.io/library/redis:6.2-alpine
ContainerName=erpnext-redis-cache
Volume=erpnext-redis-cache:/data
HealthCmd=redis-cli ping | grep PONG || exit 1
HealthInterval=30s
HealthStartPeriod=20s
HealthRetries=5
HealthTimeout=3s
Network=erpnext.network:alias=redis-cache
GlobalArgs=--log-level=warn

[Service]
Restart=on-failure
