# SPDX-License-Identifier: MIT
[Unit]
Description=ERPNext Pod
RequiresMountsFor=%t/containers
Wants=erpnext-frontend.service \
  erpnext-redis-cache.service \
  erpnext-backend.service \
  erpnext-db.service \
  erpnext-queue-long.service \
  erpnext-scheduler.service \
  erpnext-queue-short.service \
  erpnext-redis-queue.service \
  erpnext-websocket.service #\
  erpnext-configurator.service \
  erpnext-create-site.service
Before=erpnext-frontend.service \
  erpnext-redis-cache.service \
  erpnext-backend.service \
  erpnext-db.service \
  erpnext-queue-long.service \
  erpnext-scheduler.service \
  erpnext-queue-short.service \
  erpnext-redis-queue.service \
  erpnext-websocket.service #\
  erpnext-configurator.service \
  erpnext-create-site.service

[Service]
SyslogIdentifier=%N
ExecStart=/usr/bin/podman pod start --pod-id-file=%t/%N.pod-id
ExecStop=/usr/bin/podman pod stop --pod-id-file=%t/%N.pod-id --ignore --time=10
ExecStopPost=/usr/bin/podman pod rm --pod-id-file=%t/%N.pod-id --ignore --force
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile=%t/%N.pid --pod-id-file=%t/%N.pod-id --exit-policy=stop --replace --infra-name=erpnext-infra --name=erpnext
Environment=PODMAN_SYSTEMD_UNIT=%n
Type=forking
Restart=on-failure
PIDFile=%t/%N.pid

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
