# SPDX-License-Identifier: MIT
[Unit]
BindsTo=erpnext.service
After=erpnext.service erpnext-db.service erpnext-redis-queue.service erpnext-redis-cache.service
Requires=erpnext-db.service erpnext-redis-queue.service erpnext-redis-cache.service

[Container]
PodmanArgs=--pod-id-file=%t/erpnext.pod-id
Image=docker.io/frappe/erpnext:v15.39.3
ContainerName=erpnext-configurator
Exec=bash -c 'ls -1 apps > sites/apps.txt; \
  [ -s sites/common_site_config.json ] || (echo {} > sites/common_site_config.json); \
  bench set-config -g db_host $$DB_HOST; \
  bench set-config -gp db_port $$DB_PORT; \
  bench set-config -gp db_password $$DB_PASSWORD; \
  bench set-config -g redis_cache "redis://$$REDIS_CACHE"; \
  bench set-config -g redis_queue "redis://$$REDIS_QUEUE"; \
  bench set-config -g redis_socketio "redis://$$REDIS_QUEUE"; \
  bench set-config -gp socketio_port $$SOCKETIO_PORT;'
Volume=/docker/erpnext/sites:/home/frappe/frappe-bench/sites:z
Volume=/docker/erpnext/logs:/home/frappe/frappe-bench/logs:z
Network=erpnext.network:alias=configurator
Environment=DB_HOST=db
Environment=DB_PORT="3306"
Environment=REDIS_CACHE=redis-cache:6379
Environment=REDIS_QUEUE=redis-queue:6379
Environment=SOCKETIO_PORT="9000"
Secret=erpnext_mysql_user_pw,type=env,target=DB_PASSWORD

[Service]
Restart=no
